html, body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    rgb(194, 240, 100),
    rgb(223, 165, 174)
  );
}

div.content_wrapper, div#md {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

div.content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
/* a:link {
  color: rgb(34, 32, 32);
}
a:visited {
  color: rgb(130, 130, 226);
}
a:hover {
  color: rgb(191, 121, 121);
}
a:active {
  color: rgb(101, 209, 101);
} */
